body{
	color:black;
	background-color:white;
	background-image:url(ImageCSS/Imgfond.jpg);
	background-size:cover;
	background-repeat: no-repeat;
	position:relative;
}

.titre, .menu {
	display:inline;
	color:#FFEFD5;
}

.titre {
	font-size: 20px;

}

.Route {
	padding: 10px 10px 50px 10px;
	display: flex;
	justify-content:space-between;
	color:white;
	background-color: white;
	background-image: url(ImageCSS/Route.jpg);
	background-size: contain;
	font-family: 'Orbitron', sans-serif;
	font-size:large;
	flex-direction:line;
	width:143%;
}

.menu {
	font-size:30px;
	padding-top:0;
	align-self:flex-end;
	font-family: 'Orbitron', sans-serif;
	color:#FFEFD5;
}

a {
	color: #FFEFD5;
	text-decoration: none;	
}
a:hover{
color:red
}


header li {
	margin-right:5vw;
	display: inline-block;
}

.centre {
	color:white;
	font-family: 'Domine', serif;
	text-align:left;
	box-sizing: content-box;
	width: 45%;
	border: solid #FF0000 ;
	padding: 5px;
	background-color:rgba(0,0,0,0.4);
	background-size:cover;
	margin-top: 5%;
	
	/*height:100vh;*/
		
}
.ss {
	text-decoration:underline;
	font-family: 'Orbitron', sans-serif;
	font-weight: bold;
	color:#FF0000;
	margin-top:15%;
	position:relative;
}
	


h4
{color:#FFDEAD;
text-decoration: underline;

}
.story{
	position:absolute;
	text-decoration:underline;
	font-family: 'Orbitron', sans-serif;
	font-weight: bold;
	color:#FF0000;
	float:right;
	right:45%;
	margin-top:-1%;

}
.histo{
	color:white;
	font-size:medium;
	font-family: 'Domine', serif;
	text-align:left;
	box-sizing: content-box;
	width: 50%;
	height: 50%;
	border: solid #FF0000;
	padding: 20px;
	background-color:rgba(0,0,0,0.4);
	background-size:cover;
	float:right;
	margin-top:-33.4%;
}
header{
	position:fixed;
	top:0;
}