body{
	color:black;
	background-color:white;
	background-image:url(ImageCSS/Imgfond.jpg);
	background-size:cover;
	background-repeat: no-repeat;
}

.titre, .menu {
	display:inline;
	color:#FFEFD5;
}

.titre {
	font-size: 20px;

}

.Route {
	padding: 10px 10px 50px 10px;
	display: flex;
	justify-content:space-between;
	color:white;
	background-color: white;
	background-image: url(ImageCSS/Route.jpg);
	background-size: contain;
	font-family:Georgia;
	font-size:large;
	flex-direction:line;
}

.menu {
	font-size:30px;
	padding-top:0;
	align-self:flex-end;
	font-family:fantasy;
	font-style:;
	
	
}

header li {
	margin-right:5vw;
	display: inline-block;
}

.centre{
	color:white;
	text-align:left;
	box-sizing: content-box;
	width: 45%;
	border: solid #5B6DCD 10px;
	padding: 5px;
	background-color:rgba(0,0,0,0.4);
	background-size:cover;
	/*height:100vh;*/
	
	
}
.ss{
	text-decoration:underline;
	font-family:Georgia;
	font-weight: bold;
	color:#FF0000;
	
	

}
	


h4
{color:#FFDEAD;
text-decoration: underline;

}
